<h1>新規投稿ページ</h1>
  <%= form_tag('/guide', method: :get) do %> 
  <label>
    <input type="text" name="content"> 
  </label>
  
    <input type="text" name="content">
    <input type="text" name="content">
    <input type="submit" value="投稿する">
  <% end %>