






.guide-contents {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.guide-exp {
  border-top: solid 1px black;
}

.guide-exp table{
  margin: auto;
}

.guide-pic img{
  width: 100%;
}



.guide-exp th {
  padding: 10px;
}

.guide-exp tr {
  border-bottom: solid 1px gray;
}

.guide-exp td {
 padding: 10px;
}

@media (min-width: 670px) {
  .guide-main {
    display: flex;
    height: 400px;
  }
  .guide-main {
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
  .guide-pic img {
    width: 100%;
    height: 400px;
  }
  .guide-exp table{
    width: 100%;
    height: 400px;
  }
  
}





.faq-wrapper {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
}

.heading {
  color: green;
  font-size: 30px;
}

#faq-list {
  width: 100%;
  list-style: none;
}

.question {
text-align: center;
}

/*アコーディオン追加 */
.faq-list-item {
  margin:10px;
  border-bottom:1px solid green;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 15px;
}

.faq-list-item span {
  color: green;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
  text-align: center;
}

.answer p {
  color: black;
  font-size: 15px;
}

@media (min-width: 670px) {
  .faq-wrapper {
    text-align: left;
    padding-left: 20px;
  }
  .faq-list-item span {
    position:absolute;
    top:0;
    right:5px;
    color: green;
    font-size:13px;
  }
  .question {
    text-align: left;
    padding-left: 20px;
  }
  .answer {
    text-align: left;
    padding: 20px;
  }
}