.mousikomi-wrapper {
  background-image: image-url("mousikomi.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size:cover;
  background-position: center center;  
  width:100%; 
  text-align: center;
  font-family: "Comic Sans MS";
  letter-spacing: 0.2em;
}

.mousikomi-form {
  margin-top: 30px;
  width: 300px;
  height: 700px;
  margin: auto;
  padding-top: 30px;
}

.mousikomi-login-form {
  background-color: #ffffff;
  width: auto;
  height: 550px;
  margin: auto;
  border-radius: 10px;
}

label {
  display: block;
}

.mousikomi-text-form {
  width: auto;
  height: auto;
  padding-top: 10px;
}

.mousikomi-login-form p {
  font-size: 30px;
}

.mousikomi-login-form span {
  color: red;
}

.mousikomi-form-control {
  border-radius: 10px;
  width: 200px;
  height: 30px;
}

.mousikomi-form-text {
  border-radius: 10px;
  height: 50px;
  border: solid 2px;
}

.mousikomi-form-sub {
  margin: 20px 20px;
  background-color: lime;
  border-radius: 10px;
}

// .mousikomi-form-control:focus{
//   background: #E0FFFF;
// }

// .mousikomi-form-control:valid{
//   background: transparent;
// }


// .mousikomi-form-text:focus{
//   background: #E0FFFF;
// }

// .mousikomi-form-text:valid{
//   background: transparent;
// }


@media (min-width: 670px) {

  .mousikomi-form {
    margin-top: 30px;
    width: 500px;
    height: 800px;
    margin: auto;
    padding-top: 30px;
  }

  .mousikomi-form-control {
    width: 400px;
    height: 40px;
  }

  .mousikomi-login-form {
    width: 600px;
    height: 700px;
  }

  .mousikomi-login-form p {
    font-size: 40px;
  }

  .mousikomi-text-form {
    padding-top: 20px;
  }

  .mousikomi-form-text {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    
  }

  .mousikomi-form-sub {
    margin-top: 20px;
    padding: 20px 180px;
    background-color: lime;
    border-radius: 10px;
  }

}

