.t-main {
    background-image: image-url("taikai.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size:cover;
    background-position: center center;                              /* 画像のサイズを指定  */
    width:100%; 
    text-align: center;
    font-family: "Comic Sans MS";
    letter-spacing: 0.2em;
}

.t-contents {
  padding-top: 10px;
  font-family: "Comic Sans MS";
  color: black;
}


.t-contents span{
 color: green;
 font-size: 30px;
 padding-left: 5px;
}
  

.t-contents p {
  padding-left: 10px;
  text-align: left;
} 

@media (min-width: 670px) {
  .t-main {
    text-align: left;
  }
}



.t-mousikomiform {
  text-align: center;
  font-size: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}

.taikaimousikomi-btn {
  width: 100px;
  height: 100px;
  color: red;
  background-color: lime;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px black;
}


.taikaimousikomi-btn:hover {
 opacity: 0.8;
}


.taikaimousikomi-btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}


.taikai-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  width: auto;
}

.taikai-modal {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: #ffffff;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: auto;
  height: auto;
  text-align: center;
}


.taikai-modal-form {
  padding: 20px;
}

label {
  display: block;
} 

.taikai-form-control {
  width: auto;
  height: 50px;
  border: solid 2px lime;
}

.taikai-modal-btn {
 color: lime;
 cursor: pointer;
 padding: 20px;
 border-radius: 10px;
}


.fa-times {
  color: black;
  cursor: pointer;
}

.taikai-close-modal {
  margin-top: 10px;
}

@media (min-width: 670px) {

  .taikai-modal {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: #ffffff;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 1000px;
    height: 1000px;
    text-align: center;
  }
  
  .taikai-form-control {
    width: 400px;
    height: 50px;
    border: solid 2px lime;
  }
  
  .taikai-modal-btn {
    color: lime;
    cursor: pointer;
    padding: 30px 50px;
    
   }
  }