<div class="footer">
  
  <div class="footer-innner">
  <p>&copy;FUTSAL⚽️KOMAKI</p>
  </div>

  <div class="footer-contact">
    <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
  </div>
</div>

